body{
    margin: 0px;
    padding: 0px;
    }
*{
    font-family: arial;
}
div.maincontent{
    height: 680px;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
div.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(0, 0, 0,6);
}
div.navbar a{
color: aliceblue;
margin: 20px;    
}
div.navbar a.join{
    padding: 10px;
     border-radius: 8px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
div.details{
    text-align: center;
    padding-top: 150px;
    color: white;
    }
div.details button{
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    background-color:white;
    color: darkturquoise;
    }
div.upcoming h1 {
    text-align: center;
}
div.games{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    
}
div.game{
    text-align: center;
}
div.games div.img{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-image:url(images/callofduty.jpg);
    background-size: cover;
    background-position: center;
        
}
div.game2 div.img{
    background-image: url(images/fortnite.png)
    
}
div.game3 div.img{
    background-image: url(images/batman.jpg)
    
}
div.game4 div.img{
    background-image: url(images/spiderman.jpg)
    
}
div.maingame{
    display: flex;
    justify-content: center;
     width: 60%;
    margin: auto;
        background-color:black;
    color: whitesmoke;
    padding: 50px;
    border-radius: 50px;
    margin-top: 50px;
    line-height: 23px;
    }
div.maingame button{
    padding: 10px;
    border-radius: 8px;
    background-color: plum;
    color: azure;
    border: none;
    }
div.maingame img{
    margin-right: -100px;
    border-radius: 50px;
    }
div.postscontent h1, div.postscontent p{
    text-align: center;
}
div.posts{
     display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
div.post{
    margin: 25px;
    background-color: black;
    color: white;
    border-radius: 8px;

}
div.post p{
    font-size: 15px;
}
div.post p, div.post h5{
    display: inline-block;
}
div.post h3, div.post p, div.post h5{
    padding-right: 10px;
    padding-left: 10px;
}
div.post1 div.img,div.post2 div.img,div.post3 div.img{
   background-image: url('images/i-m-zion-hIXmJH9xhoo-unsplash.jpg');
    height: 150px;
    background-position: center;
    background-size: cover;
     border-radius: 8px;
}
div.post2 div.img{
     background-image: url('images/fredrick-tendong-6ou8gWpS9ns-unsplash.jpg');
}
div.post3 div.img{
    
     background-image: url('images/florian-olivo-Mf23RF8xArY-unsplash.jpg');
}
div.testis{
    display:flex;
     width: 50%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
div.test h1{
    text-align: center;
}
div.test1{
  margin: 20px;
    background-color: black;
    text-align: center;
    color: white;
border-radius: 8px;
}


div.test1 div.img{
    width: 100px;
    background-color: white;
    height: 100px;
    margin: auto;
    border-radius: 100px;
margin-top: -50px;
background-image: url('images/man.png');
    background-size: cover;
    background-position: center;
}
div.test2{
  margin: 20px;
    background-color: black;
    text-align: center;
    color: white;
border-radius: 8px;
}
div.test2 div.img{
    width: 100px;
    background-color: white;
    height: 100px;
    margin: auto;
    border-radius: 100px;
margin-top: -50px;
background-image: url('images/man%20(1).png');
    background-size: cover;
    background-position: center;
}
.pricing h2{
    text-align: center;
}
.prices{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    text-align: center;
}
.price{
    width: 30%;
    background-color: darkcyan;
    color: white;
    margin: 8px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
}
.price button{
   padding: 10px;
    border-radius: 8px;
    background-color: plum;
    color: azure;
    border: 1px solid white; 
}
.planprice{
    background-color: darkblue;
    padding-bottom: 10px;
    padding-bottom: 10px;
}
.planprice h3{
    margin: 0px;
}
.joinform{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    width: 65%;
    border: 1px solid black;
}
 .joinform .image{
    width: 50%;
}
.joinform{
    width: 65%;
}
.joinform .image{
    background-image:url(images/f2.jpg);
    background-size: cover;
    background-position: top;
    height: 400px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 151px;
}
form input, form button{
    padding: 10px;
    font-size: 16px;
    border: 1px solid green;
    border-radius: 5px;
    display: block;
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
form button{
    background-color: blue;
    color: white;
}
.footer{
    color: white;
    background-color: aqua;
    text-align: center;
    padding: 10px;
}